{% extends "layout.html.twig" %}
{% block content %}
<div class="element">
<div class="zdjecie">
<img src="{{ asset('images/phalcon.png') }}" alt="Phalcon" />
</div>
<div class="tekst">
<h2>Symfony </h2>
<p>
Symfony – framework dla aplikacji internetowych napisany
w języku PHP bazujący na wzorcu projektowym MVC.
Umożliwia on programowanie zorientowane obiektowo. Łatwo
się go instaluje oraz konfiguruje na większości platform.
Jest niezależny od systemu bazodanowego oraz zgodny z
najlepszymi standardami i wzorcami budowy aplikacji
internetowych.
</p>
</div>
</div>
{% endblock %}