{% extends "layout.html.twig" %}
{% block content %}
<div class="element">
<div class="zdjecie">
<img src="{{ asset('images/mustang.png') }}" alt="Symfony" />
</div>
<div class="tekst">
<h2>Skorzystaj z naszej oferty </h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nulla metus, posuere in ligula nec, ornare gravida sem. Ut vitae placerat enim, vitae dapibus leo. In at nisl finibus, feugiat nisi vitae, molestie sem. Pellentesque rutrum justo augue, a eleifend est ultricies vel. Etiam nunc massa, laoreet non nisi quis, eleifend dignissim magna. Cras feugiat auctor faucibus. Morbi quis sapien nibh. Suspendisse feugiat enim in suscipit gravida. Fusce placerat, tellus sit amet efficitur efficitur, odio nisl malesuada nibh, vitae congue nisl arcu et purus. Suspendisse potenti.
</p>
</div>
</div>
{% endblock %}